$bg-primary-color: #020407;
$bg-contacts: #131313;
$primary-color: #ffffff;
$link-color: #595959;
$copyright-color: #565656;
$placeholder-color: #525252;
$link-color-hover: #ef4836;
$overlayed-color: rgba(255, 255, 255, 0.1);
$overlayed-color-links:rgba(255, 255, 255, 0.4);
$form-color: #2866bd;

$mobile-menu-bg: #000;

$main-font: 'Raleway', sans-serif;


/* responsive */ 
$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 960px;
$bp-xlarge: 1200px;